[Unit]
Requires=pigpiod.service
After=pipgiod.service NetworkManager.service time-sync.target roscore.service
[Service]
Type=simple
User=pi                         
ExecStart=/home/pi/src/roslaunch/pi_car_mag
[Install]
WantedBy=multi-user.target

